<div class="mod-inner">
	{% set i = 1 %}
		{% for column in module.columns %}
			{% if i == 1 %}
				<div class="inner-content col-2">
					{% if column.img is defined %}
						<div class="img-container">
							<img src="{{column.img}}">
						</div>
					{% endif %}
					<div class="copy-container">
						{% if column.title is defined %}
							<h2>{{column.title}}</h2>
						{% endif %}
						{% if column.subtitle is defined %}
							<h3>{{column.subtitle}}</h3>
						{% endif %}
						{% if column.text is defined %}
							{{column.text|raw}}
						{% endif %}
						{% if column.bullets is defined %}
						<ul>
						{% for bullet in column.bullets %}
							<li>{{bullet}}</li>
						{% endfor %}
						</ul>
					{% endif %}
					</div>
				</div>
			{% endif %}
			{% if i != 1 %}
			<div class="inner-content col-4">
				{% if column.img is defined %}
					<div class="img-container">
						<img src="{{column.img}}">
					</div>
				{% endif %}
				<div class="copy-container">
					{% if column.title is defined %}
						<h2>{{column.title}}</h2>
					{% endif %}
					{% if column.subtitle is defined %}
						<h3>{{column.subtitle}}</h3>
					{% endif %}
					{% if column.text is defined %}
						{{column.text|raw}}
					{% endif %}
					{% if column.bullets is defined %}
						<ul>
						{% for bullet in column.bullets %}
							<li>{{bullet}}</li>
						{% endfor %}
						</ul>
					{% endif %}
				</div>
			</div>
			{% endif %}
		{% set i = i + 1 %}
	{% endfor %}
</div>